<div class="container">
  <h2>Citas</h2>
  <hr color=303d8d size="6px" style="border: solid"/>
  <br>
    <div class="row justify-content-end">
        <div class="col-1">
            <button type="button" class="btn btn-outline-dark" routerLink="/nuevaCita">
            Nueva Cita <mat-icon>add_circle</mat-icon></button>
        </div>
    </div>
    <br>
    <table class="table table-striped table-hover text-center align-middle">
        <thead>
          <tr>
            <th scope="col" *ngFor="let column of displayedColumns">{{column}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataSource, let i = index">
            <th scope="row">{{item.id}}</th>
            <td>{{item.date}}</td>
            <td>{{item.hour}}</td>
            <td>{{item.tests.id}}</td>
            <td>{{item.affiliates.id}}</td>
            <td><button mat-icon-button color="primary" aria-label="Actualizar"
              (click)="actualizar(i)" routerLink="/actualizarCita">
                <mat-icon>autorenew</mat-icon>
              </button>
              <button mat-icon-button color="warn" aria-label="Borrar"
              (click)="borrar(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

     
</div>


    