<h2 mat-dialog-title>Confirmación Actualizar prueba con ID {{data.id}}</h2>
<mat-dialog-content class="mat-typography">
  <h3>Desea continuar?</h3>
  <h4><b>Datos Nuevos</b></h4>
  <p>Fecha: {{data.nombre}}</p>
  <p>Hora: {{data.description}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial 
        (click)="put(data.id, data.nombre, data.description)"
        routerLink="/Pruebas">Confirmar</button>
</mat-dialog-actions>
