<mat-form-field appearance="fill" class="example-form-field">
    <mat-label>Elije la fecha</mat-label>
    <input matInput [matDatepicker]="datepicker" #fechaseleccionada>
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply 
          (click)="confirmDate(fechaseleccionada)">Apply
        </button>
      </mat-datepicker-actions>
      
    </mat-datepicker>
  </mat-form-field>
  
  <button mat-raised-button color="primary" (click)="confirmDate(fechaseleccionada)">
    Consultar
</button>
  