<div class="container">
    <mat-card class="card_form">
        <div class="container">
            <h3><b>Afiliados- Nuevo Afiliado</b></h3>
            <div class="row">
                <div class="col">
                    <mat-form-field class="form-field" >
                        <mat-label>Ingresa el Nombre</mat-label>
                        <input matInput type="string" [(ngModel)]="nombreValue" #nombreAfiliado>
                        <button *ngIf="nombreValue" matSuffix mat-icon-button aria-label="Clear" (click)="nombreValue=''">
                          <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="form-field" >
                        <mat-label>Ingresa la edad del afiliado</mat-label>
                        <input matInput type="number" [(ngModel)]="edadValue" #edadAfiliado>
                        <button *ngIf="edadValue" matSuffix mat-icon-button aria-label="Clear" (click)="edadValue=0">
                          <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="form-field" >
                        <mat-label>Ingresa el correo</mat-label>
                        <input matInput type="string" [(ngModel)]="mailValue" #mailAfiliado>
                        <button *ngIf="mailValue" matSuffix mat-icon-button aria-label="Clear" (click)="mailValue=''">
                          <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <div class="row  justify-content-end">
                <div class="col col-1">
                    <button type="button" class="btn btn-success">Guardar</button>
                </div>
                <div class="col col-2">
                    <button type="button" class="btn btn-danger" routerLink="/Afiliados">Cancelar</button>
                </div>
            </div>
        </div>
    </mat-card>

</div>


