<div class="container">
    <mat-card class="card_form">
        <div class="container">
            <h2>Prueba- Nueva Prueba</h2>
            <hr color=303d8d size="6px" />
            <br>
            <div class="row">
                <div class="col col-3">
                    <mat-form-field class="form-field" >
                        <mat-label>Ingresa el Nombre</mat-label>
                        <input matInput type="string" [(ngModel)]="nombreValue" #nombrePrueba>
                        <button *ngIf="nombreValue" matSuffix mat-icon-button aria-label="Clear" (click)="nombreValue=''">
                          <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col col-3">
                    <mat-form-field class="form-field" >
                        <mat-label>Descripción</mat-label>
                        <input matInput type="string" [(ngModel)]="descripcionValue" #descripcionPrueba>
                        <button *ngIf="descripcionValue" matSuffix mat-icon-button aria-label="Clear" (click)="descripcionValue=''">
                          <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <div class="row  justify-content-end">
                <div class="col col-1">
                    <button type="button" class="btn btn-success"
                    (click)="post(nombrePrueba, descripcionPrueba)">Guardar</button>
                </div>
                <div class="col col-2">
                    <button type="button" class="btn btn-danger" routerLink="/Afiliados">Cancelar</button>
                </div>
            </div>
        </div>
    </mat-card>
</div>